@import 'main.css';

form
{
    background-color: aliceblue;
    border-radius: 20px;
    border: 1px solid gray;
    padding: 1rem;
    max-width: 100%;
}

label
{
    padding: .5rem 0;
    display: block;
}

.field
{
    text-align: left;
    margin-right: .5rem;
    padding: .5rem 0;
}

.field > input
{
    padding: .4rem;
}

.button-group
{
    display: block;
    text-align: left;
}

.button {
    border-radius: 5px;
    padding: 1rem 0;
    background: white;
    border: 1px solid black;
}
.button-primary
{
    align-self: flex-end;
    width: fit-content;
    font-weight: bold;
    color: aliceblue;
    background-color: rgb(0, 89, 223);
}

.button-group > input
{
    padding: .5rem;
    min-width: 5rem;
}